/* 
body {
    margin: 0;
}
html {
    scroll-behavior: smooth;
}

li {
    font-family: 'Montserrat', sans-serif;
    list-style: none;
    padding-left: 40px;    
}
ul {
    display: flex;
    justify-content: space-around;
    background-color:rgb(0, 0, 0);
    padding: 15px 0 15px 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
}
nav a {
    text-decoration: none;
    color:white;
    position: relative;
}
nav a:hover {
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.4s;
}
nav a::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-bottom: 2px solid white;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.4s ease;
}
nav li {
    overflow: hidden;
}
nav a.active::after {
    transform: translateX(0%);
}


h1 {
    display: inline;
}
h1 span:first-of-type {
    color: rgb(254, 205, 143);
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}
h1 span:nth-of-type(2) {
    color: white;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
}
h1 span:nth-of-type(3) {
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
#intro {
    display: flex;
    justify-content: space-around;
    background-color: rgb(51, 55, 70);
    margin-left: 0;
    padding: 60px 60px;
}
#intro img {
    width: 350px;
    border-radius: 50%;
}

#about {
    background-color: rgb(37, 39, 52);
    padding: 30px 60px;
}
#about h2 {
    margin-top: 0;
}
#about p {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 0;
    padding: 30px;
}
#work {
    color: white;
    font-family: 'Playfair Display', serif;
}
.projects {
    padding: 30px;
    background-color: rgb(51, 55, 70);
    display: grid;
    justify-items: center;
    row-gap: 40px;
    column-gap: 20px;
    grid-template-areas: 
    "work work work"
    "card-1 card-2 card-3"
    "card-4 card-5 card-6";
}
#work {
    grid-area: work;
    font-size: 30px;
}
.card-1 {grid-area: card-1;}
.card-2 {grid-area: card-2;}
.card-3 {grid-area: card-3;}
.card-4 {grid-area: card-4;}
.card-5 {grid-area: card-5;}
.card-6 {grid-area: card-6;}

.project-card {
    border: 1px rgb(254, 205, 143) solid ;
    border-radius: 20px;
    width: 300px;
    background-color: rgb(37, 39, 52);
}
.project-card p {
    display: none;
}
.project-card img {
    width: 300px;
    border-radius: 20px 20px 0 0;
}
.project-card h2 {
    color: white;
    font-family: 'Playfair Display', serif;
    padding-left: 20px;
}
.project-card p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
}

#quote {
    background-color: rgb(37, 39, 52);
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#quote div {
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    
}

footer {
    background-color: rgb(51, 55, 70);
    padding: 80px;
}
#footer-container {
    display: flex;
    justify-content: space-around;
}
footer h2 {
    font-family: 'Playfair Display', serif;
    color: white;
    margin-bottom: 50px;
    text-align: center;
}
.social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    border: 1px rgb(254, 205, 143) solid ;
    border-radius: 5px;
    background-color: rgb(37, 39, 52);
    width: 250px;
    height: 50px;
}
.social:hover {
    background-color: rgb(254, 205, 143);
    transition-duration: 0.4s;
}
.social p {
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
a .social {
    color: white;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
a {
    text-decoration: none;
}
i {
    font-size: 30px;
    color: white;
} */

/* ************************************************VERSION 2.0********************************************************* */

/* =====Google Fonts===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* =====CSS Variables===== */
:root {
    --header-height: 3rem;
    --font-semi: 600;
}

/* =====Colors===== */
:root {
    --first-color: #4070F4;
    --second-color: #0E2431;
}

/* =====Fonts and Typography===== */
:root {
    --body-font: "Poppins", sans-serif;
    --big-font-size: 2rem;
    --h2-font-size: 1.25 rem;
    --normal-font-size: 0.938rem;
}

@media screen and (min-width: 768px) {
    :root {
        --big-font-size: 3.5rem;
        --h2-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}

/* =====Margins===== */
:root {
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
}

/* =====z-index===== */
:root {
    --z-back: -10;
    --z-normal: 1;
    --z-tooltip: -;
    --z-fixed: 100;
}

/* =====Base===== */
*, ::before, ::after {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color)
}
h1,h2,p{
    margin: 0;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none; 
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* =====CSS Classes===== */
.section-title{
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: var(--mb-2);
    margin-bottom: var(--mb-4);
    text-align: center;
}
.section-title::after{
    position: absolute;
    content: "";
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2rem;
    background-color: var(--first-color);
}
.section{
    padding-top: 3rem;
    padding-bottom: 2rem;
}

/* =====Layout===== */
.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: var(--mb-2);
    margin-right: var(--mb-2);
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
}

/* =====Nav===== */
.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: var(--header-height);
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 2rem;
        background-color: var(--second-color);
        transition: .5s;
    }
}
.nav__item{
    margin-bottom: var(--mb-4);
}
.nav__link{
    position: relative;
    color: #fff;
}
.nav__link:hover {
    position: relative;
}
.nav__link:hover::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}
.nav__logo{
    color: var(--second-color);
}
.nav__toggle {
    color: var(--second-color);
    font-size: 1.5rem;
    cursor: pointer;
}

/* =====Active menu===== */
.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

/* =====Show menu===== */
.show {
    right: 0;
}